<div style="margin-top: 30px;"> 
    <h1 style="font-family: 'Nerko One', cursive; text-align: center; font-size: 35px;">
        BIENVENUE DANS L'UNIVERS DES SCHTROUMPf 🤗
    </h1>

    <div style="margin-top: 30px; text-align: center; display: block;">
        <div>
            <img src="../../assets/img/schtroumpfs.jpg" style="border-radius: 50% 20% / 10% 40%;" width="350">
        </div>

        <div style="width: 90%; margin: auto;">
            <p style="margin-top: 30px; font-family: 'Nerko One', cursive; text-align: center; font-size: 22px;">
                La vie des Schtroumpfs dans leur village au cœur d'une forêt imaginaire en Europe durant un Moyen Âge mythifié,
                se défendant face à Gargamel et son chat Azraël ou partant dans de grandes aventures. Toute la tribu vit dans 
                des champignons aménagés en maisons, dans un petit village au cœur de la forêt. Les Schtroumpfs sont petits et 
                bleus avec une queue. Ils sont vêtus d'un bonnet et d'un pantalon blancs, à l'exception de leur chef, le Grand Schtroumpf, 
                vêtu de rouge, ainsi que quelques autres Schtroumpfs, comme le Schtroumpf bricoleur, le Schtroumpf paysan ou le Schtroumpf sauvage.
            </p>
        </div>
    </div>
</div>

<div style="display: flex; margin-top: 50px;">
    <div style=" margin: auto; width: 260px; display: block;">
        <div>
            <h1 style="font-family: 'Nerko One', cursive; font-size: 30px;">
                Ajoute des Amis
            </h1>
        </div>
        <div>
            <p style="font-family: 'Nerko One', cursive; font-size: 20px; text-align: center;">
                Ici ne soit pas timide, recherche des amis dans le blog et ajoute les car si tu es seule le méchant Gargamelle te choperas 
                et personne ne pourras t'aider et ça serais triste pour toi 😢
            </p>
        </div>
        <div>
            <img src="../../assets/img/garga.png" >
        </div>
    </div>

    <div style=" margin: auto; width: 260px; display: block;">
        <div>
            <h1 style="font-family: 'Nerko One', cursive; font-size: 30px;">
                Rejoint une Famille
            </h1>
        </div>
        <div>
            <p style="font-family: 'Nerko One', cursive; font-size: 20px; text-align: center;">
                Tu peux rejoindre une Schtroupmf'famille pour voir quelle genre de schtroumpf tu incarne
            </p>
        </div>
        <div>
            <img src="../../assets/img/vanity.png" >
        </div>
    </div>

    <!-- <div style=" margin: 60px; width: 260px; display: block;">
        <div>
            <h1 style="font-family: 'Nerko One', cursive; font-size: 30px;">
                Ajoute des Amis
            </h1>
        </div>
        <div>
            <p style="font-family: 'Nerko One', cursive; font-size: 20px; text-align: center;">
                Ici ne soit pas timide, recherche des amis dans le blog et ajoute les car si tu es seule le méchant Gargamelle te choperas 
                et personne ne pourras t'aider et ça serais triste pour toi 😢
            </p>
        </div>
        <div>
            <img src="../../assets/img/garga.png" >
        </div>
    </div> -->
</div>
  